.mapTab{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.listVenues{
    flex-basis: 300px;
    font-size: 15px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    max-height: 90vh;
    display: none;
}

.myDivIcon {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
}

.toolsBtn{
    height: 26px;
    border-radius: 4px;
    border-color: unset;
    border-color: rgba(0, 0, 0, 0.2);
    border-size: 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border: var(--border-size) solid var(--border-color);

}

.buttonsMap{
    display:flex;
    width:100%;
    margin-left: 41%;
}

@keyframes fade {
    from { opacity: 0.5; }
}

.fadeIcon {
    animation: fade 1s infinite alternate;
}