.mapTab {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.listVenues {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
    /*flex-basis: 300px;*/
    font-size: 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 90vh;
    height: 100vh;
    background-color: rgba(0, 12, 21, 0.4);
    width: 0;
}

.listVenues.in {
    width: 20%;
}


.myDivIcon {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
}

.toolsBtn {
    height: 26px;
    border-radius: 4px;
    border-color: unset;
    border-color: rgba(0, 0, 0, 0.2);
    border-size: 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border: var(--border-size) solid var(--border-color);

}

.add {
    padding: 0.5rem 1.25rem;
    margin: 0.2em;
    border-radius: 10px;
    border-color: white;
}

.add:hover,
.add:focus {
    color: #24B9B6;
    background: #282c34;
    text-decoration: none;
    cursor: pointer;
}


.buttonsMap {
    /*display:flex;*/
    width: 100%;
    /*margin-left: 41%;*/
}

@keyframes fade {
    from {
        opacity: 0.5;
    }
}

.fadeIcon {
    animation: fade 1s infinite alternate;
}

/* The Close Button */
#close {
    color: red;
    position: absolute;
    top: 60px;
    right: 16px;
    font-size: 66px;
    /*padding-right: 10%;*/
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}