.Demo__some-network__share {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.tableDetails {
    width: 100%;
}

.validatePlace {
    border-radius: 5px;
    background-color: green;
    margin-top: 20px;
}

.validatePlace:hover {
    background-color: darkgreen;
    text-decoration: none;
    cursor: pointer;
}


.deletePlace {
    border-radius: 5px;
    background-color: darkred;
    border-color: darkred;
    margin-top: 20px;
    margin-left: 10px;
    color: white;

}

.deletePlace:hover {
    color: #24B9B6;
    background: #282c34;
    text-decoration: none;
    cursor: pointer;
}